body.on {overflow:hidden;}

#header {position: fixed; top: 0; left: 0; width: 100%; height: 80px; border-bottom: 1px solid #e0e0e0; transition: height 0.6s; background-color: #fff;}
#header #logo {position: absolute; top: 15px; left: 30px; width: 150px; height: 50px;}
#header #logo > a {display: block;}
#header #logo > a > img{display: block; width: 100%;}

#header .menu-wrap {display: block;}
#header .menu-wrap .gnb {display: block; position:relative; height: 80px; text-align: center; transition: height 0.6s; overflow:hidden;}
#header .menu-wrap .gnb .menu-01 {display: inline-block;}
#header .menu-wrap .gnb .menu-01::after{content:""; display: block; clear: both;}
#header .menu-wrap .gnb .menu-01 > li {float: left;}
#header .menu-wrap .gnb .menu-01 > li > a {display: inline-block; height: 80px; padding: 0 25px; line-height: 80px; font-size: 1.25rem; font-weight: bold; color: #000;}
#header .menu-wrap .gnb .menu-01 > li > .s-tit {display: none; position: absolute; top:80px; left: 0; width: 25%; height: 330px; padding-top: 30px; border-top: 1px solid #e0e0e0; background-color: #ff9900;}
#header .menu-wrap .gnb .menu-01 > li.on > .s-tit {display: block;}
#header .menu-wrap .gnb .menu-01 > li > .s-tit > strong {display: block; padding: 0 20px; font-size: 2rem; text-align:right; color: #000;}
#header .menu-wrap .gnb .menu-01 > li .menu-02 {display: none; position: absolute; top:80px; left: 25%; width: 75%; height: 330px; padding-top: 30px; border-top: 1px solid #e0e0e0;}
#header .menu-wrap .gnb .menu-01 > li.on .menu-02 {display: block;}
#header .menu-wrap .gnb .menu-01 > li .menu-02::after{content:""; display: block; clear: both;}
#header .menu-wrap .gnb .menu-01 > li .menu-02 > li {float: left; width: 200px; padding-left: 30px; text-align:left;}
#header .menu-wrap .gnb .menu-01 > li .menu-02 > li .menu-02-tit {display: block; padding-bottom: 20px; font-size: 1.125rem; font-weight: bold; color: #ff9900;}
#header .menu-wrap .gnb .menu-01 > li .menu-02 > li .menu-03 {display: block;}
#header .menu-wrap .gnb .menu-01 > li .menu-02 > li .menu-03 > li {display: block;}
#header .menu-wrap .gnb .menu-01 > li .menu-02 > li .menu-03 > li > a {display: block; height: 30px; line-height: 30px; color: #000;}

#header .r-menu {position: absolute; top: 0; right: 30px; height: 50px; padding-top: 15px;}
#header .r-menu::after {content:""; display: block; clear: both;}
#header .r-menu > li {float: left;}
#header .r-menu > li > a {display: block; width: 50px; height: 50px;}
#header .r-menu > li > a > img {display: block; width: 100%;}

#header .sitemap {display: none; position: fixed; z-index: 999; top: 0; left: 0; width: 100vw; height: 100vh; overflow-y: scroll; background-color: rgba(0,0,0,0.5);}
#header .sitemap.modal-on {display: block;}
#header .sitemap .sitemap-wrap {position: absolute; top: 100px; left: 50%; max-width: 1400px; width: 100%; padding-bottom: 100px; transform: translateX(-50%);}
#header .sitemap .sitemap-wrap .con-h {position: relative; width: 100%; height:80px; background-color: #ff9900;}
#header .sitemap .sitemap-wrap .con-h > strong {display: block; padding: 0 30px; height: 80px; line-height: 80px;font-size: 1.5rem; color: #fff;}
#header .sitemap .sitemap-wrap .con-h > .close {position: absolute; top: 15px; right: 30px; width: 50px; height: 50px; background: url() no-repeat center;}
#header .sitemap .sitemap-wrap .con-box {padding-top: 50px; background-color: #fff;}
#header .sitemap .sitemap-wrap .con-box .menu-01 {}
#header .sitemap .sitemap-wrap .con-box .menu-01 > li {display: block; width: 100%;}
#header .sitemap .sitemap-wrap .con-box .menu-01 > li::after{content:""; display: block; clear: both;}
#header .sitemap .sitemap-wrap .con-box .menu-01 > li .s-tit {float: left; width: 20%; text-align: right;}
#header .sitemap .sitemap-wrap .con-box .menu-01 > li .s-tit > strong {display: inline-block; font-weight: bold; font-size: 1.25rem; color:#ff9900;}
#header .sitemap .sitemap-wrap .con-box .menu-01 > li .menu-02 {float: left; width: 80%;}
#header .sitemap .sitemap-wrap .con-box .menu-01 > li .menu-02::after {content:""; display: block; clear: both;}
#header .sitemap .sitemap-wrap .con-box .menu-01 > li .menu-02 > li {float: left; width: 20%; min-height: 200px;}
#header .sitemap .sitemap-wrap .con-box .menu-01 > li .menu-02 > li .menu-02-tit {display: block; height: 30px; padding-left: 30px; line-height: 30px; font-weight: bold; font-size: 1rem; color: #000;}
#header .sitemap .sitemap-wrap .con-box .menu-01 > li .menu-02 > li .menu-03 {display: block; padding-left: 30px;}
#header .sitemap .sitemap-wrap .con-box .menu-01 > li .menu-02 > li .menu-03 > li {display: block;}
#header .sitemap .sitemap-wrap .con-box .menu-01 > li .menu-02 > li .menu-03 > li > a {display: block; height: 30px;  line-height: 30px; font-size: 1rem;}





#content {display: block; padding-top: 80px; width: 100%;}
#con {max-width: 1400px;}


#footer {background-color: rgb(63, 63, 63);}
#footer .footer-wrap {max-width: 1400px;}