#con .con-tit {display: block; font-size: 2rem; font-weight: bold; color: #3f3f3f;}


#visual {position: relative; display: block; height: 600px; margin-bottom: 40px;}
#visual .visual-slide {display: block; width: 100%; height: 100%;}
#visual .visual-slide .swiper-slide {display: block;}
#visual .visual-slide .swiper-slide .con-area {position:relative; height: 100%;}
#visual .visual-slide .swiper-slide .con-area .slide-con {position: absolute; top: 100px; left: 100px; width: 400px; height: 400px; padding: 20px; box-shadow: 1px 1px 13px 1px rgb(0 0 0 / 10%);background-color: #fff;}
#visual .visual-slide .swiper-slide .con-area .slide-con .v-tit {display: block; margin-bottom: 20px; font-weight: 600; font-size: 1.25rem; color: #292929;}
#visual .visual-slide .swiper-slide .con-area .slide-con .v-txt {display: block; margin-bottom: 40px; font-weight: 500; font-size: 1.125rem; color: #acacac;}
#visual .visual-slide .swiper-slide .con-area .slide-con .btn-v {position:relative; display: block; font-weight: 600; font-size: 1.0625rem; color: #ff9900;}
#visual .visual-slide .visual-box {position:absolute; top: 50%; left: 50%; z-index: 10; max-width: 1400px; width: 100%; transform: translate(-50%, -50%);}
#visual .visual-slide .visual-box .btn-v-wrap {}
#visual .visual-slide .visual-box .btn-v-wrap .btn-v-prev{position: absolute; top: 0; left: 0; width: 50px; height: 50px; z-index: 10; transform: translateY(-50%); background-color: #ff9900;}
#visual .visual-slide .visual-box .btn-v-wrap .btn-v-next{position: absolute; top: 0; right: 0; width: 50px; height: 50px; z-index: 10; transform: translateY(-50%); background-color: #ff9900;}
#visual .visual-slide .visual-box .v-pagination {position: absolute; top: 150px; left: 120px;}
#visual .visual-slide .visual-box .v-pagination::after {content:""; display: block; clear: both;}
#visual .visual-slide .visual-box .v-pagination .v-bullet {float: left; width: 10px; height: 10px; margin-right: 5px; border-radius: 5px; background-color: #acacac; transition: width 0.3s;}
#visual .visual-slide .visual-box .v-pagination .v-bullet:last-child {margin-right: 0;}
#visual .visual-slide .visual-box .v-pagination .v-bullet.on {width: 30px;background-color:#ff9900;}
#visual .visual-slide .visual-box .v-index {position: absolute; top: 120px; left: 120px;}























#con .tab-h {display: block;}
#con .tab-h::after{content:"";display: block;clear: both;}
#con .tab-h > li {float: left;}
#con .tab-con {display: none;}
#con .tab-con.on {display: block;}


#con .board-wrap {width: 50%;}
#con .board-wrap .con-h{display: block;}
#con .board-wrap .con-h::after{content:"";display: block;clear: both;}
#con .board-wrap .con-h .tab-h {}
#con .board-wrap .con-h .tab-h > li {border-radius: 5px 0 5px 0}
#con .board-wrap .con-h .tab-h > li > a{display: block; height: 40px; padding: 0 10px; border: 1px solid #e0e0e0; line-height: 40px; font-weight: bold; font-size: 1.25rem; color: #3f3f3f;}
#con .board-wrap .con-h .tab-h > li > a.on {color: #ff9900;}
#con .board-wrap .tab-con {position: relative; border: 1px solid #e0e0e0;}
#con .board-wrap .tab-con .btn-more {position: absolute; top: -40px; right: 0; width: 40px; height: 40px; background:url(http://via.placeholder.com/30x30/ff9900/ffffff?text=CLOSE)}
#con .board-wrap .tab-con > ul {}
#con .board-wrap .tab-con > ul::after {content:"";display: block;clear: both;}
#con .board-wrap .tab-con > ul > li {float:left; width: 50%;}
#con .board-wrap .tab-con > ul > li .list-con {display: block;}
#con .board-wrap .tab-con > ul > li .list-con::after {content:"";display: block;clear: both;}
#con .board-wrap .tab-con > ul > li .list-con .date-con {float:left; width:70px; text-align:center;}
#con .board-wrap .tab-con > ul > li .list-con .date-con .day {display: block; height: 45px; margin-bottom: 10px; line-height: 45px;font-size: 3rem;}
#con .board-wrap .tab-con > ul > li .list-con .date-con .month {display: block; height: 15px; line-height: 15px; font-weight: bold; font-size: 0.875rem;color: #acacac;}
#con .board-wrap .tab-con > ul > li .list-con .list-con-box {display: block; padding-left: 20px; overflow:hidden;}
#con .board-wrap .tab-con > ul > li .list-con .list-con-box .list-tit{font-size: 1.25rem; color: #3f3f3f;}
#con .board-wrap .tab-con > ul > li .list-con .list-con-box .list-post{overflow:hidden;max-height: 42px;font-size: 1rem; color: #3f3f3f;  display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; white-space: normal; word-wrap: break-word;}
